body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    color: #333;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.hero {
    background: #d38f8f;
    color: white;
}

.btn {
    padding: 15px 30px;
    background: white;
    color: #d38f8f;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}
